<p>
Name: <%= @scientist.name %>
Specialty: <%= @scientist.specialty %>
University: <%= @scientist.university %>
Lab: <%= @scientist.lab.name %>
</p>
Experiments: <% @scientist.experiments.each do |experiment| %>
  <%= experiment.name %>
  <%= form_with url: "/scientists/#{@scientist.id}/scientist_experiments/#{experiment.id}", method: :delete, local: true do |f| %>
    <%= f.submit "Remove #{experiment.name}" %>
  <% end %>
  
<% end %>
