<p>
Name: <%= @scientist.name %>
Specialty: <%= @scientist.specialty %>
University: <%= @scientist.university %>
Lab: <%= @scientist.lab.name %>
</p>
Experiments: <% @scientist.experiments.each do |experiment| %>
  <%= experiment.name %>
  <%= form_with url: "/scientists/#{@scientist.id}/scientist_experimnets", method: :delete, local: true do |f| %>
  <%= f.label :experiment_id %>
  <%= f.text_field :experiment_id  %>
  <%= f.submit %>
<% end %>
<% end %>
