<h1>Scientist page</h1>

<%= @scientist.name %>
<%= @scientist.specialty %>
<%= @scientist.university %>

<p><%= @lab.name %></p>


<% @experiments.each do |ex|   %>
<p>experiments: <%= ex.name %>
<% end %>