<h1><%= @scientist.name %></h1>

<h3>Scientist Information</h3>
<p>Scientist Specialty: <%= @scientist.specialty %></p>
<p>Scientist University: <%= @scientist.university %></p>
<p>Scientist Lab: <%= @scientist.lab.name %></p>
<% @scientist.experiments.each do |experiment| %>
  <p>Experiment In Progress: <%= experiment.name %> <%= button_to "Remove #{experiment.name} Experiment From Scientist", "/scientists/#{@scientist.id}/hypotheses",  params: {:experiment_id => experiment.id}, method: :delete %></p>
<% end %>