<p>
Name: <%= @scientist.name %>
Specialty: <%= @scientist.specialty %>
University: <%= @scientist.university %>
Lab: <%= @scientist.lab.name %>
</p>
Experiments: <% @scientist.experiments.each do |experiment| %>
  <%= experiment.name %>
  <%= button_to "/scientists/#{@scientist.id}/scientist_experiments", method: :delete, local: true do |f| %>
  
<% end %>
<% end %>
